KAFKA_VERSION=4.3.1
KAFKA_HOST_PORT=9092
KAFBAT_UI_VERSION=v1.5.0
KAFBAT_UI_HOST_PORT=8080

PYTHON_IMAGE_TAG=3.14.6-slim
KAFKA_CONSUMER_GROUP=kafka-de-learning-v1

POSTGRES_VERSION=18.4
POSTGRES_HOST_PORT=5432
POSTGRES_USER=kafka_user
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_DB=kafka_learning
